# Athena CLI : Basic

### 1. Basic Command

In [10]:
!aws athena help

ATHENA()                                                              ATHENA()



NAME
       athena -

DESCRIPTION
       Amazon  Athena  is an interactive query service that lets you use stan-
       dard SQL to analyze data directly in Amazon S3. You can point Athena at
       your  data  in Amazon S3 and run ad-hoc queries and get results in sec-
       onds. Athena is serverless, so there is no infrastructure to set up  or
       manage.  You  pay only for the queries you run. Athena scales automati-
       callyexecuting queries in parallelso results are fast, even with  large
       datasets  and complex queries. For more information, see What is Amazon
       Athena in the Amazon Athena User Guide .

       If you connect to Athena using the JDBC driver, use  version  1.1.0  of
       the driver or later with the Amazon Athena API. Earlier version drivers
       do not support the API.  For  more  information  and  to  download  the
       driver, see Accessing Amazon Athena with JDBC .

AVAILABLE COMMANDS
       o batch-get-named-query

       o batch-get-prepared-statement

       o batch-get-query-execution

       o cancel-capacity-reservation

       o create-capacity-reservation

       o create-data-catalog

       o create-named-query

       o create-notebook

       o create-prepared-statement

       o create-presigned-notebook-url

       o create-work-group

       o delete-capacity-reservation

       o delete-data-catalog

       o delete-named-query

       o delete-notebook

       o delete-prepared-statement

       o delete-work-group

       o export-notebook

       o get-calculation-execution

       o get-calculation-execution-code

       o get-calculation-execution-status

       o get-capacity-assignment-configuration

       o get-capacity-reservation

       o get-data-catalog

       o get-database

       o get-named-query

       o get-notebook-metadata

       o get-prepared-statement

       o get-query-execution

       o get-query-results

       o get-query-runtime-statistics

       o get-session

       o get-session-status

       o get-table-metadata

       o get-work-group

       o help

       o import-notebook

       o list-application-dpu-sizes

       o list-calculation-executions

       o list-capacity-reservations

       o list-data-catalogs

       o list-databases

       o list-engine-versions

       o list-executors

       o list-named-queries

       o list-notebook-metadata

       o list-notebook-sessions

       o list-prepared-statements

       o list-query-executions

       o list-sessions

       o list-table-metadata

       o list-tags-for-resource

       o list-work-groups

       o put-capacity-assignment-configuration

       o start-calculation-execution

       o start-query-execution

       o start-session

       o stop-calculation-execution

       o stop-query-execution

       o tag-resource

       o terminate-session

       o untag-resource

       o update-capacity-reservation

       o update-data-catalog

       o update-named-query

       o update-notebook

       o update-notebook-metadata

       o update-prepared-statement

       o update-work-group



                                                                      ATHENA()

In [11]:
!aws athena list-databases --catalog-name AwsDataCatalog

{
    "DatabaseList": [
        {
            "Name": "default",
            "Description": "Default Hive database"
        },
        {
            "Name": "itvghlandingdb"
        },
        {
            "Name": "itvghrawdb"
        },
        {
            "Name": "myretail"
        },
        {
            "Name": "retail_db"
        }
    ]
}

### 2. Workgroup

* Query result location : Must set before using CLI
* Per query data usage control : = limit / query, if exceeded then cancel all query

In [12]:
!aws athena list-work-groups

{
    "WorkGroups": [
        {
            "Name": "primary",
            "State": "ENABLED",
            "Description": "",
            "CreationTime": "2024-02-11T21:10:38.595000+07:00",
            "EngineVersion": {
                "SelectedEngineVersion": "AUTO",
                "EffectiveEngineVersion": "Athena engine version 3"
            }
        }
    ]
}

In [13]:
!aws athena get-work-group --work-group primary

{
    "WorkGroup": {
        "Name": "primary",
        "State": "ENABLED",
        "Configuration": {
            "ResultConfiguration": {},
            "EnforceWorkGroupConfiguration": false,
            "PublishCloudWatchMetricsEnabled": false,
            "RequesterPaysEnabled": false,
            "EngineVersion": {
                "SelectedEngineVersion": "AUTO",
                "EffectiveEngineVersion": "Athena engine version 3"
            },
            "EnableMinimumEncryptionConfiguration": false
        },
        "CreationTime": "2024-02-11T21:10:38.595000+07:00"
    }
}

In AWS Set Wrokgroup storage location before using any query command

### 3. Run Query

In [17]:
!aws athena start-query-execution --query-string "SELECT count(1) from myretail.orders GROUP BY order_status"

{
    "QueryExecutionId": "20db41b8-6fb5-4dc0-9a55-b93b9a005bce"
}

In [18]:
!aws athena get-query-execution --query-execution-id 20db41b8-6fb5-4dc0-9a55-b93b9a005bce

{
    "QueryExecution": {
        "QueryExecutionId": "20db41b8-6fb5-4dc0-9a55-b93b9a005bce",
        "Query": "SELECT count(1) from myretail.orders GROUP BY order_status",
        "StatementType": "DML",
        "ResultConfiguration": {
            "OutputLocation": "s3://mm000-retail/AthenaCLI/20db41b8-6fb5-4dc0-9a55-b93b9a005bce.csv"
        },
        "ResultReuseConfiguration": {
            "ResultReuseByAgeConfiguration": {
                "Enabled": false
            }
        },
        "QueryExecutionContext": {},
        "Status": {
            "State": "SUCCEEDED",
            "SubmissionDateTime": "2024-02-18T21:08:15.551000+07:00",
            "CompletionDateTime": "2024-02-18T21:08:16.219000+07:00"
        },
        "Statistics": {
            "EngineExecutionTimeInMillis": 522,
            "DataScannedInBytes": 24580,
            "TotalExecutionTimeInMillis": 668,
            "QueryQueueTimeInMillis": 57,
            "ServicePreProcessingTimeInMillis": 55,
            "QueryPlanningTimeInMillis": 71,
            "ServiceProcessingTimeInMillis": 34,
            "ResultReuseInformation": {
                "ReusedPreviousResult": false
            }
        },
        "WorkGroup": "primary",
        "EngineVersion": {
            "SelectedEngineVersion": "AUTO",
            "EffectiveEngineVersion": "Athena engine version 3"
        },
        "SubstatementType": "SELECT"
    }
}

In [19]:
!aws s3 cp s3://mm000-retail/AthenaCLI/20db41b8-6fb5-4dc0-9a55-b93b9a005bce.csv .

download: s3://mm000-retail/AthenaCLI/20db41b8-6fb5-4dc0-9a55-b93b9a005bce.csv to ./20db41b8-6fb5-4dc0-9a55-b93b9a005bce.csv

In [23]:
!cat 20db41b8-6fb5-4dc0-9a55-b93b9a005bce.csv

"_col0"
"7556"
"15030"
"3798"
"22899"
"7610"
"1428"
"8275"
"729"
"1558"

### 4. Run Query with Custom Target S3 Location

!aws athena start-query-execution \
    --query-string "SELECT count(*) FROM myretail.orders" \
    --result-configuration OutputLocation=s3://itv-retail-mana00/myretail/order_count_awscli

In [25]:
!aws athena get-query-execution --query-execution-id 20db41b8-6fb5-4dc0-9a55-b93b9a005bce

{
    "QueryExecution": {
        "QueryExecutionId": "238634a7-8919-48b5-98b6-563065a8c747",
        "Query": "SELECT count(*) FROM myretail.orders",
        "StatementType": "DML",
        "ResultConfiguration": {
            "OutputLocation": "s3://itv-retail-mana00/myretail/order_count_awscli/238634a7-8919-48b5-98b6-563065a8c747.csv"
        },
        "ResultReuseConfiguration": {
            "ResultReuseByAgeConfiguration": {
                "Enabled": false
            }
        },
        "QueryExecutionContext": {},
        "Status": {
            "State": "SUCCEEDED",
            "SubmissionDateTime": "2024-02-18T23:02:21.921000+07:00",
            "CompletionDateTime": "2024-02-18T23:02:22.473000+07:00"
        },
        "Statistics": {
            "EngineExecutionTimeInMillis": 367,
            "DataScannedInBytes": 0,
            "TotalExecutionTimeInMillis": 552,
            "QueryQueueTimeInMillis": 107,
            "ServicePreProcessingTimeInMillis": 49,
            "QueryPlanningTimeInMillis": 56,
            "ServiceProcessingTimeInMillis": 29,
            "ResultReuseInformation": {
                "ReusedPreviousResult": false
            }
        },
        "WorkGroup": "primary",
        "EngineVersion": {
            "SelectedEngineVersion": "AUTO",
            "EffectiveEngineVersion": "Athena engine version 3"
        },
        "SubstatementType": "SELECT"
    }
}

In [26]:
!aws s3 cp s3://itv-retail-mana00/myretail/order_count_awscli/238634a7-8919-48b5-98b6-563065a8c747.csv .

download: s3://itv-retail-mana00/myretail/order_count_awscli/238634a7-8919-48b5-98b6-563065a8c747.csv to ./238634a7-8919-48b5-98b6-563065a8c747.csv

### 5. Run Delete Query

In [27]:
!aws athena start-query-execution \
    --query-string "DROP TABLE myretail.order_items"

{
    "QueryExecutionId": "f5de965a-95d1-4976-aeb7-72487747779e"
}

In [28]:
!aws athena get-query-execution \
    --query-execution-id f5de965a-95d1-4976-aeb7-72487747779e

{
    "QueryExecution": {
        "QueryExecutionId": "f5de965a-95d1-4976-aeb7-72487747779e",
        "Query": "DROP TABLE myretail.order_items",
        "StatementType": "DDL",
        "ResultConfiguration": {
            "OutputLocation": "s3://mm000-retail/AthenaCLI/f5de965a-95d1-4976-aeb7-72487747779e.txt"
        },
        "ResultReuseConfiguration": {
            "ResultReuseByAgeConfiguration": {
                "Enabled": false
            }
        },
        "QueryExecutionContext": {},
        "Status": {
            "State": "SUCCEEDED",
            "SubmissionDateTime": "2024-02-18T23:19:02.587000+07:00",
            "CompletionDateTime": "2024-02-18T23:19:03.254000+07:00"
        },
        "Statistics": {
            "EngineExecutionTimeInMillis": 459,
            "DataScannedInBytes": 0,
            "TotalExecutionTimeInMillis": 667,
            "QueryQueueTimeInMillis": 169,
            "ServicePreProcessingTimeInMillis": 18,
            "ServiceProcessingTimeInMillis": 21,
            "ResultReuseInformation": {
                "ReusedPreviousResult": false
            }
        },
        "WorkGroup": "primary",
        "EngineVersion": {
            "SelectedEngineVersion": "AUTO",
            "EffectiveEngineVersion": "Athena engine version 3"
        },
        "SubstatementType": "DROP_TABLE"
    }
}

In [29]:
!aws s3 rm s3://itv-retail-mana00/myretail/order_items/ --recursive

delete: s3://itv-retail-mana00/myretail/order_items/20240217_182658_00050_48tzd_78956ba8-1dd0-49c5-bafd-b07877f474cd.gz

In [31]:
!aws s3 ls s3://itv-retail-mana00/myretail/

                           PRE order_count_awscli/
                           PRE orders/
                           PRE orders_part/

### 6. Run CTAS Query

In [34]:
!aws athena start-query-execution \
    --query-string "CREATE TABLE myretail.order_items \
        WITH ( \
            format = 'TEXTFILE', \
            external_location = 's3://itv-retail-mana00/myretail/order_items/', \
            field_delimiter = ',' \
        ) \
        AS \
        SELECT * FROM retail_db.order_items"

{
    "QueryExecutionId": "894aadc8-8ff0-4ab1-b5ad-798baf1e5d6a"
}

In [35]:
!aws athena get-query-execution \
    --query-execution-id 894aadc8-8ff0-4ab1-b5ad-798baf1e5d6a

{
    "QueryExecution": {
        "QueryExecutionId": "894aadc8-8ff0-4ab1-b5ad-798baf1e5d6a",
        "Query": "CREATE TABLE myretail.order_items          WITH (              format = 'TEXTFILE',              external_location = 's3://itv-retail-mana00/myretail/order_items/',              field_delimiter = ','          )          AS          SELECT * FROM retail_db.order_items",
        "StatementType": "DDL",
        "ResultConfiguration": {
            "OutputLocation": "s3://mm000-retail/AthenaCLI/tables/894aadc8-8ff0-4ab1-b5ad-798baf1e5d6a"
        },
        "ResultReuseConfiguration": {
            "ResultReuseByAgeConfiguration": {
                "Enabled": false
            }
        },
        "QueryExecutionContext": {},
        "Status": {
            "State": "SUCCEEDED",
            "SubmissionDateTime": "2024-02-18T23:32:07.671000+07:00",
            "CompletionDateTime": "2024-02-18T23:32:09.907000+07:00"
        },
        "Statistics": {
            "EngineExecutionTimeInMillis": 2108,
            "DataScannedInBytes": 28655610,
            "DataManifestLocation": "s3://mm000-retail/AthenaCLI/tables/894aadc8-8ff0-4ab1-b5ad-798baf1e5d6a-manifest.csv",
            "TotalExecutionTimeInMillis": 2236,
            "QueryQueueTimeInMillis": 52,
            "ServicePreProcessingTimeInMillis": 54,
            "QueryPlanningTimeInMillis": 115,
            "ServiceProcessingTimeInMillis": 22,
            "ResultReuseInformation": {
                "ReusedPreviousResult": false
            }
        },
        "WorkGroup": "primary",
        "EngineVersion": {
            "SelectedEngineVersion": "AUTO",
            "EffectiveEngineVersion": "Athena engine version 3"
        },
        "SubstatementType": "CREATE_TABLE_AS_SELECT"
    }
}